<div class="card <%= 'card--no-img' if @component.properties[:image_url].nil? %>">
  <%- if @component.properties[:image_url] %>
    <div class="card__image">
      <a href="<%= @component.properties[:link] %>"><img alt="<%= @component.properties[:title] %>" src="<%= @component.properties[:image_url] %>">
      </a>
    </div>
  <% end %>
  <div class="card__content">
    <h3 class="card__content__title">
      <a href="<%= @component.properties[:link] %>"><%= @component.title %></a>
    </h3>
    <%- if @component.has_description? %>
      <p><%= @component.properties[:description] %></p>
    <%- end %>
    <p>Location: <%= @component.location %></p>
    <div class="card__content__data">
      <%- if @component.properties[:data] && @component.properties[:data].any? %>
        <%- @component.properties[:data].each do |data| %>
          <dl>
            <dt><%= data[:number] %></dt>
            <dd><%= data[:title] %></dd>
          </dl>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
