<h1>My great product</h1>

<%= link_to "Design system docs", '/design_system' %><br><br>

<%= ui_component('card', {
  title: "Card number 1",
}) %>

<%= ui_component('card', {
  title: "Card number 2",
}) %>

<%= ui_component('card', {
  title: "Card number 3",
}) %>

<%= ui_component('card', {
  title: "Card number 4",
}) %>

<%= ui_component('card', {
  title: "Card number 5",
}) %>

<%= ui_component('card', {
  title: "Card number 6",
}) %>

<%= ui_component('card', {
  title: "Card number 7",
}) %>

<%= ui_component('card', {
  title: "Card number 8",
}) %>
