<div class="u-padding--b-50">
  <div class="container-fluid">
    <div class="row u-padding--y-25">
      <div class="col-xs-12">
        <p class="o-text--product">
          <%= link_to 'Design system', root_path, class: 'u-color--charcoal' %>
          /
        </p>
      </div>
    </div>
    <div class="row u-padding--b-25">
      <div class="col-xs-12">
        <h1 class="o-text--display u-text--bold">Component Library</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <% @page.top_line_metrics.each do |metric| %>
          <p class="o-text--product"><%= metric %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% @page.components.each do |component| %>
  <div class="u-bg-zebra--silver-50 u-padding--y-50">
    <div class="container-fluid">
      <div class="row ">
        <div class="col-xs-12">
          <div class="<%= component.header_style %>">
            <h1 class="o-text--headline u-text--bold"><%= component.title %></h1>
            <p class="o-text--product ">Status: <%= component.health.to_sentence %></p>
            <p class="o-text--body"><%= component.meta_description %></p>
          </div>

          <%= link_to 'View all variants', components_path(id: component.name) %>

          <% if component.component_stubs? %>
            <% component.component_stubs.take(1).each do |properties| %>
              <%= system_component('component_example', properties) %>
            <% end %>
          <% else %>
            <div class="w-card u-bg--warning u-padding--25">
              <h2 class="o-text--lead u-text--bold">This component is missing examples.</h2>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
