<div class="<%= @component.header_style %> u-padding--b-50">
  <div class="container-fluid">
    <div class="row u-padding--y-25">
      <div class="col-xs-12">
        <p class="o-text--product">
          <%= link_to 'Design system', root_path, class: 'u-color--inherit' %>
          /
          <%= link_to 'components', component_index_path, class: 'u-color--inherit' %>
          /
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <h1 class="o-text--headline u-text--bold"><%= 'Styleguide component: ' if @component.system_component? %><%= @component.title %></h1>
        <p class="o-text--product"><%= @component.meta_description %></p>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid u-padding--b-100">
  <div class="row">
    <div class="col-xs-12">
      <%= system_component('accordion', @component.health.to_accordion) do %>
        <% if @component.can_access_metrics? %>
          <p class="o-text--product u-margin--b-25"><%= @component.health.to_sentence %></p>

          <p class="o-text--product"><%= @component.health.deprecated_grep_statement %></p>
        <% end %>
      <% end %>

      <%= system_component('accordion', {
        title: "Component properties",
        style: 'u-bg--white-115 u-color--charcoal spec-component-properties',
      }) do %>
        <%= system_component('properties', { property_list: @component.default_properties_and_validations }) %>
      <% end %>
    </div>
  </div>

  <% if @component.component_stubs? %>
    <% if @component.stubs_correct_format? %>
      <% @component.component_stubs.each do |properties| %>
        <%= system_component('component_example', properties) %>
      <% end %>
    <% else %>
      <div>
        <h2><span>Hint:</span>You have Stubs but they don't follow the correct format</h2>
        <ul>
          <li>
            You should write stub examples like this:
            <br>
            <%= render 'fenrir_view/styleguide/example', component_name: @component.name %>
          </li>
        </ul>
      </div>
    <% end %>
  <% else %>
    <div class="w-card u-bg--warning-05 u-padding--25">
      <h2 class="o-text--lead u-text--bold"><span class="u-color--secondary">Hint:</span> To see your component make sure you've created stubs:</h2>

      <p>You should write stub examples here: lib/design_system/components/<%= @component.name %>/<%= @component.name %>.yml</p>

      <%= render 'fenrir_view/styleguide/example', component_name: @component.name %>
    </div>
  <% end %>
</div>
