<div class="u-bg--silver u-padding-y-50">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <h1 class="o-text--headline"><%= @component.title %></h1>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid u-padding-y-50">
<% if @component.stubs? %>
  <% if @component.stubs_correct_format? %>
    <% if @component.stubs_extra_info? %>
      <div class="row">
        <div class="col-xs-12">
          <p><%= @component.meta_description %></p>
          <p class="o-text--caption">Status: <%= @component.meta_status %></p>

          <% if @component.meta_used_by? %>
            <p class="o-text--note">Used by: <%= @component.meta_used_by %></p>
          <% end %>
        </div>
      </div>
    <% end %>
    <% if @component.component_stubs? %>
      <% @component.component_stubs.each_with_index do |component_properties, index| %>
        <div class="row u-margin-y-100 u-bg--white">
          <div class="col-xs-12 col-lg-6">
            <%= render_ui @component.variant, @component.name, component_properties.clone %>
          </div>
          <div class="col-xs-12 col-lg-6">
            <div class="mv-component__description">
              <h1 class="o-text--title"><%= @component.title %> <%= index + 1 %></h1>
              <div class="mv-component__description__definition">
                <code class="language-ruby">&lt;%= render_ui("<%= @component.variant %>", "<%= @component.name %>", {properties as below}) %&gt;</code>
              </div>

              <% formatted = JSON.pretty_generate component_properties %>
              <div class="mv-component__description__properties">
                <code class="language-ruby"><%= formatted.gsub(/\"(\S+)?\":/, '\1:') %></code>
              </div>

              <div class="mv-component__description__properties">
                <code class="language-html"><xmp><%= render_ui(@component.variant, @component.name, component_properties.clone) %></xmp></code>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  <% elsif @component.variant == "views" %>
    <div class="row">
      <div class="col-xs-12">
        <p><%= @component.meta_description %></p>
        <p class="o-text--caption">Status: <%= @component.meta_status %></p>

        <% if @component.meta_used_by? %>
          <p class="o-text--note">Used by: <%= @component.meta_used_by %></p>
        <% end %>
      </div>
    </div>

    <div class="row u-margin-y-100 u-bg--white">
      <div class="col-xs-12">
        <%= render_ui @component.variant, @component.name %>
      </div>
    </div>

    <div class="row u-margin-y-100 u-bg--white">
      <div class="mv-component__description">
        <h1 class="o-text--title"><%= @component.title %> html source</h1>

        <div class="mv-component__description__properties">
          <code class="language-html"><xmp><%= render_ui(@component.variant, @component.name) %></xmp></code>
        </div>
      </div>
    </div>
  <% else %>
    <div class="mv-hint">
      <h2><span>Hint:</span>You have Stubs but they don't follow the correct format</h2>
      <ul>
        <li>
          You should write stub examples like this:
          <br>
          <div class="mv-component__description__properties">
            <code class="language-yaml"><%= render 'example', component_name: @component.name %></code>
          </div>
        </li>
      </ul>
    </div>
  <% end %>
<% else %>
  <div class="mv-hint">
    <h2><span>Hint:</span>To see your component make sure you've created stubs:</h2>
    <ul>
      <li>
        You should write stub examples here:
        <br>
        <strong><%= @component.stubs_file %></strong>
        <div class="mv-component__description__properties">
          <code class="language-yaml"><%= render 'example', component_name: @component.name %></code>
        </div>
      </li>
    </ul>
  </div>
<% end %>

</div>
