<div class="<%= @component.meta_status[:bg] %> u-padding--y-50">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <h1 class="o-text--headline u-text--bold"><%= @component.title %></h1>
        <p class="o-text--caption">Status: <%= @component.meta_status[:code] %></p>

        <p><%= @component.meta_description %></p>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid u-padding--b-100">
<% if @component.stubs? %>
  <% if @component.stubs_correct_format? %>
    <% if @component.stubs_extra_info? %>
      <div class="row u-padding--y-50">
        <div class="col-xs-12">
          <h2 class="o-text--lead">Component Properties:</h2>

          <% @component.default_properties_and_validations.each do |property, options| %>
            <div class="u-bg-zebra--silver-50">
              <div onClick="showPropertyValidations(this)" class="properties-list__item">
                <h3 class="o-text--product">
                  <span class="u-text--bold"><%= property %></span><span class="u-opacity--70"><%= options[:info] %></span>
                </h3>
              </div>

              <div class="properties-list__details is-hidden">
                <p><%= options[:note] %></p>
                <% if options[:validations].any? %>
                  <pre><code class="language-json">validations: <%= JSON.pretty_generate(options[:validations]).gsub(/\"(\S+)?\":/, '\1:') %></code></pre>
                <% else %>
                  <p>No validations set</p>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
    <% if @component.component_stubs? %>
      <% @component.component_stubs.each_with_index do |component_properties, index| %>
        <% properties = component_properties[:props] %>

        <div class="row u-padding--y-100 u-bg-zebra--silver-50">

          <div class="col-xs-12 col-lg-6">
            <% if component_properties[:yield] %>
              <%= render_ui @component.variant, @component.component_identifier, properties.clone do %>
                <%= component_properties[:yield].html_safe %>
              <% end %>
            <% else %>
              <%= render_ui @component.variant, @component.component_identifier, properties.clone %>
            <% end %>
          </div>

          <div class="col-xs-12 col-lg-6">
            <div class="w-card u-bg--silver">
              <h1 class="o-text--title"><%= @component.stubs_title(index) %></h1>

              <% case @component.variant%>
              <% when "elements"%>
                <% helper_start = "ui_element(" %>
              <% when "components" %>
                <% helper_start = "ui_component(" %>
              <% when "modules" %>
                <% helper_start = "ui_module(" %>
              <% when "system" %>
                <% helper_start = "system_component(" %>
              <% else %>
                <% helper_start = "render_ui(\"#{ @component.variant }\", " %>
              <% end %>

              <% if component_properties[:yield] %>
                <% helper_end = " do %&gt;".html_safe %>
              <% else %>
                <% helper_end = " %&gt;".html_safe %>
              <% end %>

              <pre><code class="language-ruby">
                &lt;%= <%= helper_start %>"<%= @component.name %>", {properties as below})<%= helper_end %>
                <% if component_properties[:yield] %>
                  Your html content here
                &lt;% end %&gt;
                <% end %>
              </code></pre>

              <% formatted = JSON.pretty_generate properties %>
              <pre><code class="language-json"><%= formatted.gsub(/\"(\S+)?\":/, '\1:') %></code></pre>
            </div>
          </div>

        </div>
      <% end %>
    <% end %>
  <% elsif @component.variant == "views" %>
    <div class="row">
      <div class="col-xs-12">
        <p><%= @component.meta_description %></p>
        <p class="o-text--caption">Status: <%= @component.meta_status %></p>

        <% if @component.meta_used_by? %>
          <p class="o-text--note">Used by: <%= @component.meta_used_by %></p>
        <% end %>
      </div>
    </div>

    <div class="row u-margin--y-100 u-bg--white">
      <div class="col-xs-12">
        <%= render_ui @component.variant, @component.name %>
      </div>
    </div>

    <div class="row u-margin--y-100 u-bg--white">
      <div class="col-xs-12">
        <div class="mv-component__description">
          <h1 class="o-text--title"><%= @component.title %> html source</h1>

          <div class="mv-component__description__properties">
            <pre><code class="language-html"><xmp><%= render_ui(@component.variant, @component.name) %></xmp></code></pre>
          </div>
        </div>
      </div>
    </div>
  <% else %>
    <div class="mv-hint">
      <h2><span>Hint:</span>You have Stubs but they don't follow the correct format</h2>
      <ul>
        <li>
          You should write stub examples like this:
          <br>
          <div class="mv-component__description__properties">
            <code class="language-yaml"><%= render 'example', component_name: @component.name %></code>
          </div>
        </li>
      </ul>
    </div>
  <% end %>
<% else %>
  <div class="mv-hint">
    <h2><span>Hint:</span>To see your component make sure you've created stubs:</h2>
    <ul>
      <li>
        You should write stub examples here:
        <br>
        <strong><%= @component.stubs_file %></strong>
        <div class="mv-component__description__properties">
          <code class="language-yaml"><%= render 'example', component_name: @component.name %></code>
        </div>
      </li>
    </ul>
  </div>
<% end %>

</div>
