<article class="fenrir-view-accessibility-issue">
  <h5 data-audit-id="<%= @component.id %>"
      data-display-mode="<%= @component.score_display_mode %>"
      data-score="<%= @component.score %>">
    <%= @component.title %>
  </h5>
  <p><%= @component.description %></p>

  <% unless @component.debug_data.nil? %>
    <p>These issues are classified as
      <strong><%= @component.debug_data.impact %></strong>.</p>
  <% end %>

  <%= render @component.details_partial if @component.any_details? %>
</article>
