<!DOCTYPE html>
<html>
<head>
  <title>Styleguide</title>
  <%= stylesheet_link_tag 'fenrir_view/styleguide', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'fenrir_view/styleguide', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>
<body>
  <div class="mv-flex-wrapper">
    <div class="mv-sidebar" style="overflow-y:scroll;max-height: 100vh;">      
      <% @page.docs.each do |doc| %>
        <h2 class="c-text--lead u-color--coolgray"><%= doc.title %></h2>

        <ul class="u-margin-b-50 reset-ul">
          <% doc.sections.each do |section| %>
            <li>
              <ul class="u-margin-b-25 reset-ul">
                <% section.pages.each do |page| %>
                  <li>
                    <%= link_to page.title, fenrir_docs_path(section: section.path, page: page.path), 
                    class: page.id == 0 ? 'c-text--product block-link' : 'c-text--note block-link' %>
                  </li>
                <% end %>
              </ul>
            </li>
          <% end %>
        </ul>
      <% end %>

      <h2 class="c-text--lead u-color--coolgray">UI Patterns</h2>

      <% @page.components.each do |section, data| %>
        <h3 class="c-text--product"><%= section.titleize %></h3>

        <% unless data.empty? %>
          <ul class="reset-ul">
            <% data.each do |item| %>
              <li>
                <%= link_to item.title, components_path(variant: section, id: item.name), class: 'c-text--note block-link' %>
              </li>
            <% end %>
          </ul>
        <% end %>
      <% end %>
    </div>
    <div class="mv-main">
      <%= yield %>
    </div>
  </div>
</body>
</html>
