<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">

  <title><% if content_for?(:page_title) %><%= yield(:page_title) %><% else %>Charlie Design System<% end %></title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="format-detection" content="telephone=no">

  <%= stylesheet_link_tag 'fenrir_view/styleguide', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'fenrir_view/styleguide', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>

  <!-- Load Webfonts -->
  <% unless Rails.env.test? %>
    <script src="//use.typekit.net/ler6yzq.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
  <% end %>
</head>
<body>
  <div class="content-wrap js-content-wrap u-padding-y-0">
    <div class="sidebar-wrapper">
      <div class="section-nav js-scrollbar" id="styleguide-nav" data-turbolinks-permanent>

        <h1 class="o-text--lead u-padding-y-50" style="margin-left:15px;">Charlie Design System</h1>

        <% @page.docs.each do |doc| %>
          <h2 class="sidebar-section__title"><%= doc.title %></h2>

          <ul class="u-margin-b-50 reset-ul">
            <% doc.sections.each do |section| %>
              <li>
                <ul class="u-margin-b-25 reset-ul">
                  <% section.pages.each do |page| %>
                    <li>
                      <%= render_element 'nav_item', title: page.title, link: fenrir_docs_path(section: page.section_path, page: page.page_path), current_page: request.original_fullpath, style: page.id == 0 ? 'o-text--product' : nil %>
                    </li>
                  <% end %>
                </ul>
              </li>
            <% end %>
          </ul>
        <% end %>

        <h2 class="sidebar-section__title">UI Patterns</h2>

        <% @page.components.each do |section, data| %>
          <h3 class="o-text--product" style="margin-left:15px;"><%= section.titleize %></h3>

          <% unless data.empty? %>
            <ul class="reset-ul">
              <% data.each do |item| %>
                <li>
                  <%= render_element 'nav_item', title: item.title, link: components_path(variant: section, id: item.name), current_page: request.original_fullpath %>
                </li>
              <% end %>
            </ul>
          <% else %>
            <p class="o-text--note u-margin-b-25 u-color--coolgray" style="margin-left:15px;">Nothing to see :(</p>
          <% end %>
        <% end %>

      </div>
      <div class="section-wrap js-page-wrapper js-scrollbar">
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
