<!DOCTYPE html>
<html>
<head>
  <title>Styleguide</title>
  <%= stylesheet_link_tag 'fenrir_view/styleguide', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'fenrir_view/styleguide', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>
<body>
  <div class="mv-flex-wrapper">
    <div class="mv-sidebar" style="overflow-y:scroll;">
      <ul>
        <% @page.docs.each do |doc| %>
          <li class="mv-ul-section">
            <ul>
              <% doc.sections.each do |section| %>
                <li>
                  <%= link_to section.title, fenrir_docs_path(section: doc.name, page: section.path), class: section.id == 0 ? 'mv-big-link' : '' %>
                </li>
              <% end %>
            </ul>
          </li>
        <% end %>
      </ul>
      <h3>COMPONENTS</h3>
      <ul>
        <% @page.components.each do |component| %>
          <li>
            <%= link_to component.title, styleguide_path(id: component.name) %>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="mv-main">
      <%= yield %>
    </div>
  </div>
</body>
</html>
